* {
  user-select: none;
}

.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link {
  font-weight: bold;
  transition: 0.5s;
}
.nav-link:hover {
  background: rgb(33, 198, 12);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.nav-img {
  width: 70vw;
  background-size: no-repeat top center;
  border-bottom: 1px solid #5f7a5b;
  height: 20vh;
  margin: 15px 0px 30px 0px;
  padding: 0px 0px 30px 0px;
}
.nav-nonimg {
  display: none;
}
nav .form-inline .form-control {
  border: none;
  outline: none;
  width: 250px;
}
.language {
  display: block;
}
header .language a:hover {
  text-decoration: none;
}
.copyright {
  font-size: 11px;
}
.detail {
  text-align: justify;
}
table {
  width: 100%;
}
.profile,
.contact {
  background: #eee;
}
/* span {
  color: red;
} */
img:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.social-media a i {
  font-size: 20px;
  padding-left: 5px;
}

.popular-products {
  margin-top: 50px;
  margin-bottom: 50px;
}
.popular-products p {
  text-align: justify;
}
.popular-products ul li {
  margin-left: 40px;
}

footer {
  background: #052301;
  padding-top: 35px;
  padding-bottom: 25px;
}
footer h4 {
  padding-bottom: 20px;
}
.whatsCall {
  text-align: center;
  padding: 25px 0px 0px 0px;
  border-radius: 2px;
}
.call {
  border: 1px solid #000;
  padding: 8px 12px;
  text-align: center;
  color: #000;
}
.call:hover {
  color: #fff;
  text-decoration: none;
}
.enquiry {
  padding: 8px 56px;
  border: 1px solid #fff;
  text-align: center;
  color: white;
  text-decoration: none;
  /* background: ; */
}
.all-productbtn {
  box-sizing: border-box;
  margin: 0px 5px 0px 5px;
  border: 1px solid #fff;
  padding: 8px 8px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: rgb(33, 198, 12);
}
.social-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.callme {
  margin: 0px 5px 0px 5px;
  border: 1px solid #fff;
  padding: 8px 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.viewproducts {
  margin: 0px 5px 0px 5px;
  border: 1px solid #fff;
  padding: 8px 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.send-enquiry {
  box-sizing: border-box;
  margin: 0px 5px 0px 5px;
  border: 1px solid #fff;
  padding: 8px 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: rgb(33, 198, 12);
}
.callme:hover {
  background: rgb(33, 198, 12);
  text-decoration: none;
  color: white;
}
.viewproducts:hover {
  background: rgb(33, 198, 12);
  text-decoration: none;
  color: white;
}
.send-enquiry:hover {
  text-decoration: none;
  color: white;
}

/* footer .view-all{

} */
.social-media {
  text-align: center;
}
.social-media i {
  font-size: 20px;
  color: #000;
}
.social-media i:hover {
  font-size: 22px;
}
.social-media .fa-facebook-square {
  color: #3b5998;
}
.social-media .fa-twitter-square {
  color: #1da1f2;
}
.social-media .fa-instagram {
  color: darkred;
}
.social-media .fa-linkedin-square {
  color: #0073b0;
}
.social-media .fa-whatsapp {
  color: #00e676;
}
.social-media .fa-youtube-play {
  color: #ff0000;
}
footer .follow {
  margin-bottom: 0;
}
footer .copyright {
  font-size: 11px;
  text-align: right;
}
.footer-btn {
  display: flex;

  justify-content: center;
  margin-top: 20;
}

.company-profile {
  margin-bottom: 30px;
  margin-top: 30px;
}
.company-profile p {
  text-align: justify;
}
.company-profile .facts {
  font-weight: bold;
}
.company-profile table {
  margin-bottom: 30px;
  width: 100%;
}

.contact-form span {
  color: #ff0000;
}
.contact-form button {
  margin-top: 20px;
}
@media only screen and (max-width: 780px) {
  .nav-img {
    display: none;
  }
  .nav-nonimg {
    display: block;
  }
  .header .container h1 a {
    text-align: center;
  }
  #logindiv {
    padding-left: 8%;
  }
  #registerdiv {
    padding-left: 8%;
  }
  .btn1 {
    margin: 0px 0px 30px 0px;
  }
  .btn2 {
    margin: 0px 0px 30px 0px;
  }
  .callme {
    padding: 8px 8px;
    margin: 0px 0px 0px 0px;
  }
  .viewproducts {
    padding: 8px 8px;
    margin: 0px 0px 0px 0px;
  }
  .send-enquiry {
    padding: 8px 8px;
    margin: 0px 3px 0px 3px;
  }
  .footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .callme {
    padding: 6px 2px;
    margin: 0px;
  }
  .sms {
    padding: 6px 2px;
    margin: 0px 2px 0px 2px;
  }
  .send-enquiry {
    padding: 6px 2px;
    margin: 0px;
  }
}
.showroom {
  background: #eeeeee;
}
.prod {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prod h4 a:hover {
  text-decoration: none;
}
.showroom .prod .row h5 a {
  color: #000;
}
.showroom .prod .row h5 a:hover {
  text-decoration: none;
}
.showroom .prod .row p {
  text-align: justify;
  padding-right: 20px;
}
.showroom .prod ul li a {
  color: #000;
}
.showroom .prod ul li a:hover {
  text-decoration: none;
  color: #e7717d;
}
.home-decor,
.christmas,
.candle,
.metal-urns,
.mdf,
.heart-frame,
.farmstead,
.contact-form,
.products,
.alphabet {
  background: #eeeeee;
}
.ques {
  float: right;
}
.metal-urns .prod h4 a {
  text-decoration: none;
}
.christmas .prod h4 a {
  text-decoration: none;
}
.price {
  color: orangered;
}
table {
  width: 100%;
}
img {
  width: 250px;
}
